@font-face{
    font-family:'lato thinitalic';
    src: url('../fonts/Lato/Lato-LightItalic.ttf');
}
@font-face{
    font-family:'lato italic';
    src: url('../fonts/Lato/Lato-BoldItalic.ttf');
}
@font-face{
    font-family:'dancing script';
    src: url('../fonts/DancingScript/DancingScript.ttf');
}

h1 {
    font-family:'dancing script';
    font-weight: normal;
    color: #ffffff;
    font-size: 50px;
   
}  
body {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right,#8f00ff, #00000A);
    font-family: 'Lato thinitalic';
    font-size: 20px;
    color: #ffffff;
    box-sizing:border-box;
    margin:auto;
}

input[type=text] {
margin: 8px 0;
padding: 12px 20px;
border: 2px ;
 border-radius: 10px;
 font-family:'Lato italic';
}
input[type=password] {
font-family:'Lato italic';
margin: 8px 0;
padding: 12px 20px;
border: 2px ;
 border-radius: 10px;
}

input[type=submit] {
padding: 12px 20px;
border: none ;
display: inline-block;
text-align:center;
font-family:'Lato italic';
color: #8f00ff;
 border-radius: 200px;
}
input[type=date] {
margin: 8px 0;
padding: 12px 20px;
border: none ;
display: inline-block;
text-align:center;
font-family: 'Lato italic';
 border-radius: 10px;
}
select{
margin: 8px 0;
padding: 12px 20px;
border: none ;
display: inline-block;
text-align:center;
font-family: 'Lato italic';
color: #000000;
 border-radius: 10px;
 background-color:#ffffff;
}
label{
    font-size:25px;
}